@charset "UTF-8";

.container {  /* 그리드시스템 */
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;  /* 좌우마진 */
    /* background-color: lightsalmon; */
}

/*===== header =====*/
header {
    height: 164px;
    border-bottom: 2px solid #ba000d;
    /* background-color: lightgoldenrodyellow; */
}

/* headermenu-logo */
.headermenu-logo .header-menu {
    position: absolute;
    right: 10px; top: 20px;
    width: 180px;
    /* background-color: lightcoral; */
}
.headermenu-logo .header-menu > ul {
    display: flex;
    justify-content: space-between;
}
.headermenu-logo .header-menu li > a {
    font: 12px 'NanumSquareR';
}
/* .headermenu-logo .header-menu li > a:hover {
    font-weight: bold;
} */
.headermenu-logo .logo {
    position: absolute;
    left: 50%; top: 40px;
    transform: translateX(-50%);
    width: 100px;
}

/* main-menu */
.main-menu {
    width: 980px;
    margin: auto;
    background-color: lightblue;
}
.main-menu .gnb {
    position: absolute;
    left: 0; top: 41px;
    /* transform: translateX(-50%); */
    display: flex;
    justify-content: space-between;
    width: 980px;
    /* background-color: lightcoral; */
}
.main-menu .gnb > li:nth-child(3) {
    margin-right: 120px;
}
.main-menu .gnb > li > a {
    width: 133px;
    height: 80px;
    line-height: 80px;
    font-family: 'NanumSquareEB';
    text-align: center;

}
.main-menu .gnb > li > a:hover {
    color: white;
    background-color: #ba000d;
} */


/*===== main =====*/
main {
    width: 100%;
}
.sub-txt {
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
}

/* slide */
.slide {
    position: relative;
    width: 1920px;
    height: 546px;
    overflow: hidden;
}
.slide > h2 {
    font-size: 0;
}
.slide > .slide-image {
    display: flex;
    position: absolute;
    left: 0; top: 0;
    width: 5760px;
}
.slide > .slide-image > li {
    width: 1920px;
}

/* best-menu */
.best-menu {
    padding: 90px 0;
    width: 1920px;
    height: 572px;
    background-color: #faf9f7;
}
.best-menu h2 {
    text-align: center;
    /* background-color: aquamarine; */
}
.best-menu .left_arrow {
    position: absolute;
    left: 10px; top: 214px;
    width: 13px;
}
.best-menu .menu-list {
    width: 1100px;
    height: 328px;
    margin: auto;
    margin-top: 40px;
    /* background-color: blue; */
}

.best-menu .menu-list > ul {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}
.best-menu .menu-list li > a {
    width: 257px;
    height: 328px;
    margin-right: 24px;
    padding: 30px 56px;
    border-radius: 10%;
    background-color: #fff;
}
.best-menu .menu-list li > a:hover {
    border: 3px solid #ba000d;
}
.best-menu .menu-list li > a > img {
    width: 144px;
    margin-bottom: 20px;
}
.best-menu .menu-list li > a > p {
    width: 155px;
    text-align: center;
    /* background-color: lightgreen; */
}
.best-menu .right-arrow {
    position: absolute;
    top: 214px; right: 10px; 
    width: 13px;
}

/* membership */
.membership {
    margin: 150px 0;
    width: 100%;
    height: 644px;
    /* background-color: aqua; */
}
.membership-image > .color-box {
    position: absolute;
    left: 10px; top: 146px;
    width: 556px;
    height: 497px;
    z-index: 1;
}
.membership-image > .hollys-building {
    position: absolute;
    left: 100px; top: 0;
    width: 629px;
    height: 554px;
    z-index: 2;
}
.membership-box {
    position: absolute;
    top: 226px; right: 10px;
    width: 500px;
    height: 357px;
    background: #faf9f7;
}
.membership-box ul {
    margin: 65px 130px 65px 180px;
    /* background-color: lightgoldenrodyellow; */
}
.membership-box strong {
    color: #ba000d;
    margin-bottom: 18px;
}
.membership-box li:nth-child(3) > p {
    width: 190px;
    line-height: 20pt;
    margin-top: 30px;
}
.membership-box li:last-child > p > a {
    width: 124px;
    height: 38px;
    padding-top: 10px;
    margin-top: 30px;
    color: #fff;
    text-align: center;
    background-color: #ba000d;
}

/* mall */
.mall h2 {
    text-align: center;
    /* background-color: lightblue; */
}
.mall .mall-list {
    display: flex;
    justify-content: space-between;
}
.mall .mall-list > li {
    position: relative;
    width: 380px;
    height: 244px;
    padding: 40px 50px;
    background-color: #f3f3f3;
}
.mall .mall-list > li.hollyscard {
    background-color: #fff;
}
.mall .mall-list img {
    width: 87px;
    margin-top: 15px;
}
.mall .mall-list >li.hollyscard > img {
    margin-top: 30px;
}
.mall .mall-list > li > div > p {
    position: absolute;
    right: 50px; bottom: 75px;
    width: 173px;
    height: 80px;
    line-height: 20pt;
    /* background-color: lightskyblue; */
}
.mall .mall-list li > div.e-store-txt > p {
    position: absolute;
    right: 50px; bottom: 50px;
    /* background-color: lightskyblue; */
}
.mall .mall-list > li > div a {
    position: absolute;
    right: 50px; bottom: 40px;
    font-size: 12px;
}
.mall .mall-list > li > div a:hover {
    font-weight: bold;
    text-decoration: underline;
}

/* franchise */
.franchise {
    margin-top: 150px;
    width: 100%; height: 390px;
    background-image: url(../image/franchise_background.png);
}
.franchise .franchise-txt {
    padding-top: 60px;
    padding-left: 40px;
}
.franchise .franchise-txt li > .kor-title {
    margin-top: 18px;
    color: #ba000d;
}
.franchise .franchise-txt li > .point-txt {
    margin-top: 32px;
    margin-bottom: 17px;
}
.franchise .franchise-txt li > p {
    width: 340px;
    line-height: 20pt;
    /* background-color: aqua; */
}
.franchise-txt li > .franchise-button > ul {
    display: flex;
    justify-content: space-between;
    width: 288px;
    margin-top: 40px;
}
.franchise-txt li > .franchise-button li a {
    width: 124px;
    height: 38px;
    padding-top: 10px;
    color: #fff;
    text-align: center;
    background-color: #ba000d;
}

/* store */
.store {
    margin-top: 150px;
}
.store-sec {
    position: relative;
    /* background-color: lightseagreen; */
}
.store-sec > h2 {
    text-align: center;
}
.store-sec .store-search-box {
    position: relative;
    margin: 40px 379px 20px;
}
.store-sec .store-search-box > input[type=search] {
    width: 442px;
    height: 60px;
    border: 5px solid #ba000d;
    /* background-color: lightcoral; */
}
.store-sec .store-search-box > input::placeholder {
    padding-left : 10px;
}
.store-sec .store-search-box > .search-icon {
    position: absolute;
    right: 0; top: 50%;
    transform: translateY(-50%);
    width: 30px;
}
.store-sec > .more > a {
    font-size: 12px;
    text-align: center;
}
.store-sec > .more > a:hover {
    font-weight: bold;
    text-decoration: underline;
}

/* news */
.news {
    margin-top: 150px;
    padding: 90px 0 ;
    height: 491px;
    background-color: #faf9f7;
}
.news ul {
    position: absolute;
    left: 300px; top: 50px;
    display: flex;
    justify-content: space-between;
    width: 880px;
}
.news .event > h3 {
    margin-top: 20px;
    margin-bottom: 5px;
}
.news ul {
    position: absolute;
    left: 300px; top: 50px;
    display: flex;
    justify-content: space-between;
    width: 880px;
}
.news .event > ul > li {
    position: relative;
    width: 280px;
    height: 280px;
    background-color: #fff;
}
.news .event > ul > li p {
    margin: 20px 25px 35px;
    text-align: justify;
    /* background-color: lightcoral; */
}
/* .news .event > ul > li > a:hover > p{
    font-weight: 500;
} */
.news .event > ul > li time {
    position: absolute;
    left: 25px; bottom: 20px;
    font-size: 12px;
    color: gray;
}
.news .sns > ul > li {
    width: 280px;
}

/* footer */
footer {
    width: 1920px;
    height: 243px;
    background-color: #ba000d;
}

/* menu-sns */
.menu-box {
    padding: 54px 110px 0 155px;
}
.menu-box > .footer-menu {
    width: 680px;
    height: 17px;
    /* background-color: aquamarine; */
}
.menu-box > .footer-menu > ul {
    display: flex;
    justify-content: space-between;
}
.menu-box > .footer-menu li > a {
    padding-right: 8px;
    border-right: 1px solid #fff;
}
.menu-box > .footer-menu li:first-child > a {
    padding-left: 0;
}
.menu-box > .footer-menu li:last-child > a {
    border: none;
    padding-right: 0;
}
.menu-box > .footer-menu li > a > p {
    color: #fff;
    font: 14px 'nunumsquareBold';
}
.footer-sns {
    position: absolute;
    top: 55px; right: 120px;
    display: flex;
    justify-content: space-between;
    width: 67px;
}
.footer-sns img {
    width: 30px;
    height: 30px;
}

/* footerlogo-info */
.footer-contents-box > .footer-logo > img {
    width: 110px;
}
